force-app/main/default/flows/Create_Slack_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Slack_Channel_Action_1</name>
        <label>Create Slack Channel</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>slackCreateChannel</actionName>
        <actionType>slackCreateChannel</actionType>
        <connector>
            <targetReference>Assign_Running_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T01CST8EESV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelName</name>
            <value>
                <elementReference>slackChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isChannelPrivate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>slackCreateChannel</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Invite_Users_to_Slack_Channel</name>
        <label>Invite Users to Slack Channel</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>slackInviteUsersToChannel</actionName>
        <actionType>slackInviteUsersToChannel</actionType>
        <connector>
            <targetReference>Assign_Channel_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T01CST8EESV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelId</name>
            <value>
                <elementReference>Create_Slack_Channel_Action_1.slackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <stringValue>T01CST8EESV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIdsToInvite</name>
            <value>
                <elementReference>userIdCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackInviteUsersToChannel</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T01CST8EESV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>Create_Slack_Channel_Action_1.slackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>addesMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Channel_Id</name>
        <label>Assign Channel Id</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>channelId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Slack_Channel_Action_1.slackChannelId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Running_User</name>
        <label>Assign Running User</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>userIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invite_Users_to_Slack_Channel</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Slack Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Slack Channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Slack_Channel_Action_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addesMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>channelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>slackChannelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
