force-app/main/default/flows/Create_New_Slack_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Slack_Channel_Action_1</name>
        <label>Create Slack Channel Action 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>slackCreateChannel</actionName>
        <actionType>slackCreateChannel</actionType>
        <connector>
            <targetReference>Assign_User_Channel_Id_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T01CST8EESV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelName</name>
            <value>
                <elementReference>slackChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isChannelPrivate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>slackCreateChannel</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Invite_Users_to_Slack_Channel_Action_1</name>
        <label>Invite Users to Slack Channel Action 1</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>slackInviteUsersToChannel</actionName>
        <actionType>slackInviteUsersToChannel</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T01CST8EESV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelId</name>
            <value>
                <elementReference>Create_Slack_Channel_Action_1.slackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <stringValue>T01CST8EESV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIdsToInvite</name>
            <value>
                <elementReference>userIdCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackInviteUsersToChannel</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Add Current user to collection
Assign newly create slack channel to external variable to pass back to original flow</description>
        <name>Assign_User_Channel_Id_Values</name>
        <label>Assign User &amp; Channel Id Values</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>userIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSlackChannel</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Invite_Users_to_Slack_Channel_Action_1</targetReference>
        </connector>
    </assignments>
    <description>Create new Slack channel and adds running user to it</description>
    <environments>Default</environments>
    <formulas>
        <name>slackChannelName</name>
        <dataType>String</dataType>
        <expression>LOWER(SUBSTITUTE({!Slack_Channel_Name}, &quot; &quot;, &quot;-&quot;))</expression>
    </formulas>
    <interviewLabel>Create New Slack Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Slack Channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Slack_Channel_Name_Sceen</name>
        <label>Slack Channel Name Sceen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Slack_Channel_Action_1</targetReference>
        </connector>
        <fields>
            <name>Slack_Channel_Name</name>
            <dataType>String</dataType>
            <fieldText>Slack Channel Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You can have a maximum of 80 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!slackChannelName}) &lt;81</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>displayName</name>
            <fieldText>&lt;p&gt;You are creating a Slack channel with the name &lt;strong&gt;{!slackChannelName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Slack_Channel_Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Slack Channel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Slack_Channel_Name_Sceen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newSlackChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
