force-app/main/default/flows/Opportunity_Renew_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_New_Record</name>
        <label>Navigate to New Record</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <stringValue>{!newOpportunityRecord.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assign the Id of the renewal opportunity on the original</description>
        <name>Assign_Original_Opportunity</name>
        <label>Assign Original Opportunity</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Renewal_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Original_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Opportunity</name>
        <label>Assign Renewal Opportunity</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>newOpportunityRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Renewal_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>renewalName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Customer - Upgrade</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>newPrice</name>
        <dataType>Currency</dataType>
        <expression>IF({!Uplift.value} &gt; 0, ({!totalAmount} * ({!Uplift.value}/10)) + {!totalAmount}, {!totalAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>recalulatePricingNeeded</name>
        <dataType>Boolean</dataType>
        <expression>IF({!productTable2.numberOfRowsSelected} != {!Re_Price_Opportunity_Products.Results.selectedProducts}, true,
IF({!Uplift.value} != {!Re_Price_Opportunity_Products.Results.upliftAmount}, true,
false))</expression>
    </formulas>
    <formulas>
        <name>renewalAmountDisplay</name>
        <dataType>String</dataType>
        <expression>IF({!recalulatePricingNeeded} = true, &apos;Recalculate Pricing&apos;, TEXT({!Re_Price_Opportunity_Products.Results.totalAmount}))</expression>
    </formulas>
    <formulas>
        <name>renewalDate</name>
        <dataType>Date</dataType>
        <expression> ADDMONTHS({!Get_Opportunity.CloseDate},12)</expression>
    </formulas>
    <formulas>
        <name>renewalName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Name} &amp; &quot; -  Renewal &quot;&amp; TEXT(YEAR({!Renewal_date}))</expression>
    </formulas>
    <interviewLabel>Opportunity Renew Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo 3 - Opportunity Renew Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Original_Opportunity</targetReference>
        </connector>
        <inputReference>newOpportunityRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>SortOrder</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Original_Opportunity</name>
        <label>Update Original Opportunity</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Create_Opportunity_Products</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Product_Screen</name>
        <label>Configuration Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actions>
            <name>Re_Price_Opportunity_Products</name>
            <actionName>Re_Price_Opportunity_Products</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>opportunityProduct</name>
                <value>
                    <elementReference>productTable2.outputSelectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProducts</name>
                <value>
                    <elementReference>productTable2.numberOfRowsSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>upliftAmount</name>
                <value>
                    <elementReference>Uplift.value</elementReference>
                </value>
            </inputParameters>
            <label>Re-Price Opportunity Products</label>
            <nameSegment>Re_Price_Opportunity_Products</nameSegment>
            <versionSegment>1</versionSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Renewal_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Product_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>currentAmount</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!boxStyleLight}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Current Amount&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;£{!Get_Opportunity.Amount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>renewalAmount</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!boxStyleLight}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Renewal Amount&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Re_Price_Opportunity_Products.Results.totalAmount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Re_Price_Opportunity_Products.Results.totalAmount</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Uplift.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Re_Price_Opportunity_Products.Results.upliftAmount</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>productTable2.numberOfRowsSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Re_Price_Opportunity_Products.Results.selectedProducts</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>recalulateBox</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!boxStyleLight}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Renewal Amount&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Recalculate Pricing&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Uplift.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Re_Price_Opportunity_Products.Results.upliftAmount</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Re_Price_Opportunity_Products.Results.totalAmount</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>productTable2.numberOfRowsSelected</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Re_Price_Opportunity_Products.Results.selectedProducts</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionButton</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Recalculate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Re_Price_Opportunity_Products.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Re_Price_Opportunity_Products.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Product_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Uplift</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Uplift %</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>step</name>
                        <value>
                            <numberValue>0.5</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>100.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>size</name>
                        <value>
                            <stringValue>large</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Renewal_date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>renewalDate</elementReference>
                    </defaultValue>
                    <fieldText>Renewal date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>productTable2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>Get_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product_Name__c,Quantity,UnitPrice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product_Name__c:0, Quantity:0, UnitPrice:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Quantity:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create Renewal</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>ActionButton</eventSource>
            <handlers>
                <screenActionName>Re_Price_Opportunity_Products</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Opportunity_Products</name>
        <label>Create Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Navigate_to_New_Record</targetReference>
        </connector>
        <flowName>Re_Price_Opportunity_Products</flowName>
        <inputAssignments>
            <name>opportunityProduct</name>
            <value>
                <elementReference>productTable2.outputSelectedRows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityRecord</name>
            <value>
                <elementReference>newOpportunityRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>upliftAmount</name>
            <value>
                <elementReference>Uplift.value</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>boxStyleLight</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-theme_shade&quot;&gt;</text>
    </textTemplates>
    <variables>
        <name>newOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
