force-app/main/default/flows/Re_Price_Opportunity_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>opportunityProductToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Amount</name>
        <label>Assignment Amount</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>totalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newProductAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignSingleRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignSingleRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProductAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignSingleRecord.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignSingleRecord.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignSingleRecord.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.SortOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_Opportunity_Id</name>
        <label>Have Opportunity Id</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Called by a flow to update pricing</description>
    <environments>Default</environments>
    <formulas>
        <name>newProductAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!upliftAmount}&gt; 0, ({!Loop_1.UnitPrice} * ({!upliftAmount}/100)) + {!Loop_1.UnitPrice}, {!Loop_1.UnitPrice})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Re-Price Opportunity Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Re-Price Opportunity Products</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <collectionReference>opportunityProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Have_Opportunity_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <inputReference>opportunityProductToCreate</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opportunityProductToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>selectedProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>upliftAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
