force-app/main/default/flows/Slack_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Update_Campaign</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T01CST8EESV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>campaignRecord.SlackChannel__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>channelLinkMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_New_Channel_Id</name>
        <label>Assign New Channel Id</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>campaignRecord.SlackChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Slack_Channel.channelId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permissions</name>
        <label>Assign Permissions</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>campaignRecord.Slack_Notification_All__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignRecord.Slack_Responded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Selected_Id</name>
        <label>Assignment Selected Id</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>campaignRecord.SlackChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>channelSelector.selectedChannelId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Permissions</name>
        <label>Null Permissions</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>campaignRecord.Slack_Notification_All__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignRecord.Slack_Responded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignRecord.SlackChannel__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_Settings_Button_Pressed</name>
        <label>Assign Settings Button Pressed</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Permissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Unlink</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SettingScreenButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unlink</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Permissions</targetReference>
            </connector>
            <label>Unlink</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Channel_Button_Pressed</name>
        <label>Create Channel Button Pressed</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Channel_Screen_Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Slack_Channel</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Slack Channel field on the campaign reocd is populated is no show the ability to select a channel</description>
        <name>Has_Slack_Channel</name>
        <label>Has Slack Channel</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>linkChannel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaignRecord.SlackChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SettingScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_Channel_Button_Pressed</name>
        <label>Link Channel Button Pressed</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assignment_Selected_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Link Channel</defaultConnectorLabel>
        <rules>
            <name>Create_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>linkChannelButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Channel_Screen</targetReference>
            </connector>
            <label>Create Channel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>channelNameLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!slackChannelInput})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>colour</name>
        <dataType>String</dataType>
        <expression>IF({!channelNameLength} &gt; 80, &apos;slds-theme_error&apos;,
IF({!channelNameLength} &gt; 60, &apos;slds-theme_warning&apos;,
&apos;slds-theme_success&apos;))</expression>
    </formulas>
    <formulas>
        <name>slackChannelName</name>
        <dataType>String</dataType>
        <expression>LOWER(
LEFT(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(
SUBSTITUTE(
{!slackChannelInput}
,&quot;.&quot;,&quot;&quot;)
,&quot;,&quot;,&quot;&quot;)
,&quot;&amp;&quot;,&quot;&quot;)
,&quot;/&quot;,&quot;&quot;)
,&quot;|&quot;,&quot;&quot;)
, &quot; &quot;, &quot;-&quot;)
,&quot;&apos;&quot;,&quot;&quot;)
,80)
)</expression>
    </formulas>
    <formulas>
        <name>url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>Slack Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo 1 - Slack Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>545</locationX>
        <locationY>1142</locationY>
        <inputReference>campaignRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Channel_Screen</name>
        <label>Create Channel</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Channel_Button_Pressed</targetReference>
        </connector>
        <fields>
            <name>slackChannelInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>campaignRecord.Name</elementReference>
            </defaultValue>
            <fieldText>New Slack Channel Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Defaults to campaign name&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>displayChannel</name>
            <fieldText>&lt;p&gt;{!warningBanner}&lt;/p&gt;&lt;p&gt;You are creating a Slack channel with the name:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!slackChannelName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!channelNameLength} of 80&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Channel_Screen_Buttons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Create Channel&quot;,&quot;value&quot;:&quot;Add&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>linkChannel</name>
        <label>Link Channel</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Link_Channel_Button_Pressed</targetReference>
        </connector>
        <fields>
            <name>channelSelector</name>
            <extensionName>force:slackChannelSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appId</name>
                <value>
                    <stringValue>A028VJ1KG3G</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workspaceId</name>
                <value>
                    <stringValue>T01CST8EESV</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>linkChannelButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Create Channel&quot;,&quot;value&quot;:&quot;Add&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Link Selected&quot;,&quot;value&quot;:&quot;Link&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:link&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SettingScreen</name>
        <label>Assign Settings</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Settings_Button_Pressed</targetReference>
        </connector>
        <fields>
            <name>SettingScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SettingScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message1</name>
                    <fieldText>&lt;p&gt;Notify when new campaign member is added&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SettingScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Any</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>​</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Enabled</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Disabled</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>campaignRecord.Slack_Notification_All__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SettingScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SettingScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message2</name>
                    <fieldText>&lt;p&gt;Notify when new response is added&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SettingScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Response</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>​</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Enabled</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Disabled</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>campaignRecord.Slack_Responded__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SettingScreenButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Remove Slack Channel&quot;,&quot;value&quot;:&quot;Unlink&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:remove_link&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Update Settings&quot;,&quot;value&quot;:&quot;Update&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Update Settings</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Slack_Channel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Slack_Channel</name>
        <label>Create Slack Channel</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_New_Channel_Id</targetReference>
        </connector>
        <flowName>Create_Slack_Channel</flowName>
        <inputAssignments>
            <name>addesMessage</name>
            <value>
                <elementReference>channelLinkMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>slackChannelName</name>
            <value>
                <elementReference>slackChannelName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>channelLinkMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>:dart: {!$User.FirstName} {!$User.LastName} has linked the campaign &lt;{!url}{!campaignRecord.Id}|*{!campaignRecord.Name}*&gt; to this channel for automated notifications :dart:</text>
    </textTemplates>
    <textTemplates>
        <name>warningBanner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box {!colour}&quot;&gt;</text>
    </textTemplates>
    <variables>
        <name>campaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
